
<h1>Form</h1>
<form method="POST" action="/new">
    <input type="text" name="user" id="name" placeholder="name">
    <input type="text" name="text" id="message" placeholder="message">
 <input type="submit" value="abschicken!">
</form>
