<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New</title>
</head>
<body>
    <div class="content">
    <%- include('navbar', {links: links}) %>
    <h1>Enter a new message!</h1>
    <%- include('form') %>
    <%- include('footer') %>
</div>
</body>
</html>
